/* General */
div {
  /*border: 1px solid black;*/
}

h3 {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: normal;
  font-family: sans-serif;
  margin: 10px 0 10px 0;
}

hr {
  margin: 10px 0 10px 0;
}


/*div::after {
  content:attr(class);
}*/

.top-nav, .content, .footer {
  margin-left:  170px;
}

/* Main Divs */
.outer-div {
}

.side-nav {
  float: left;
  width: 170px;
  padding: 17.5px;
  padding-top: 0;
  background-color: #f6f6f6;
}

.top-nav {
  background-color: #f6f6f6;
}

.content {
  height: 1050px;
  margin-right: 0;
}

.footer {
  height: 178px;
}
.footer img {
  width: 100%;
  height: 100%;
}

/* Content Divs */
.head-content {
  height: 100px;
}
.left-content {
  height: 500px;
}
.right-content {
  height: 500px;
}
.center-content {
  height: 225px;
}
.bottom-content {
  height: 225px;
}
.content img {
  width: 100%;
  height: 100%;
}
/* Side Nav */
.side-nav img {
  margin: auto;
  margin-bottom: 10px;
}

.side-nav li, a {
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
}

.side-nav ul {
  list-style: none;
  padding-left: 10px;
}

/* Top Nav */
.text-top-nav {
  height: 50px;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
}
.search-top-nav {
  height: 40px;
}
.search-top-nav form {
  margin-top: 5px;
  margin-left: 25px;
}
